<div class="box">
	<a href="#" class="arrow">arrow</a>
	<%= image_tag "ico-03.png", :width => "60", :height => "59", :alt => "image description" %>
	<div class="text-holder">
		<h2>Bring a friend</h2>
		<p>To enable automatic check-ins for your customers, you need an android device. It doesn't matter if it's a phone or a tablet, as long as it stays in the store </p>
	</div>
</div>